
<div class="container mb-5" style="margin-top: 100px">
<h2 style="text-align: center; color: white">Select you dream car</h2>
<div class="card-trip-index-container">
<% @cars.each do |car| %>
<%= link_to car_path(car),  style: "text-decoration: none" do %>
<div class="card-trip-index">
  <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-index-infos">
    <div>
      <div class="card-trip-index-box1">
      <h2><%= car.brand %>  <%= car.model %></h2>
      <div class="d-flex mt-3">
        <h2><i class="fa-regular fa-user me-2"></i></h2>
        <p><%= car.seats %></p>
      </div>
      </div>
    </div>
    <div class="card-trip-index-box2">
    <% unless car.reviews.empty? %>
      <div class="d-flex justify-content-end">
        <h2 class="me-2"><i class="reviewstar fa-solid fa-star"></i></h2>
        <p class="card-trip-index-rating"><%= car.reviews.map(&:rating).sum.to_f / car.reviews.size %></p>
      </div>
    <% else %>
      <div class="d-flex justify-content-end">
        <h2 class="me-2"><i class="reviewstar fa-solid fa-star"></i></h2>
        <p class="card-trip-index-rating" style="line-height: 16px;">-</p>
      </div>
    <% end %>
    <h2 class="card-trip-index-pricing mt-3"><%= car.price_per_day %>$/day</h2>
    </div>
  </div>
</div>
<% end %>
<% end %>

</div>
</div>
