<div class="container mb-3" style="margin-top: 100px">


  <div class="row">
    <div class="col-lg-8">
      <div class="card-trip">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <% @car.photos.each do |photo| %>
            <% if @car.photos.index(photo) == 0 %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key, height: 500, width: 900, crop: :fill %>
              </div>
              <% else %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, height: 500, width: 900, crop: :fill %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
        <div class="card-trip-infos">
              <div class="col-lg-3">
                <div class="d-flex align-items-center mb-3"> <p><i class="fa-solid fa-car-side"></i> <%= "#{@car.brand} #{@car.model}" %></p></div>
                <div class="d-flex align-items-center"> <p><i class="fa-solid fa-calendar-days"></i> <%= @car.year %></p></div>
              </div>
              <div class="col-lg-3">
                <div class="d-flex align-items-center mb-3"><p><i class="fa-solid fa-gas-pump"></i> <%= @car.carburant %></p></div>
                <div class="d-flex align-items-center"><p><%= image_tag 'icon_mileage.png', class: 'icon' %> <%= @car.km %> km</p></div>
              </div>
              <div class="col-lg-3">
                <div class="d-flex align-items-center mb-3"><p><%= image_tag 'icon_seat.png', class: 'icon_seat' %> <%= @car.seats %></p></div>
                <div class="d-flex align-items-center"><p><i class="fa-solid fa-horse-head"></i> <%= @car.power %> hp</p></div>
              </div>
          </div>
      </div>
      <div class="mt-5"style="color: white;">
        <h2>Description</h2>
        <p><%= @car.description %></p>
      </div>
    <div class="reviewtitle">
      <h2> <%= @car.reviews.length %> Reviews</h2>
      <div class="d-flex justify-content-between">
        <div class="review-bars">
        <div class="d-flex"></div>
          <div class="d-flex align-items-center"><p class="rating-number">5</p><div class="review-bar" style="background-image: linear-gradient(to right, #FCDC2A <%= @five %>%, rgba(0,0,0,0) 0%); "></div></div>
          <div class="d-flex align-items-center"><p class="rating-number">4</p><div class="review-bar" style="background-image: linear-gradient(to right, #FCDC2A <%= @four %>%, rgba(0,0,0,0) 0%); "></div></div>
          <div class="d-flex align-items-center"><p class="rating-number">3</p><div class="review-bar" style="background-image: linear-gradient(to right, #FCDC2A <%= @three %>%, rgba(0,0,0,0) 0%); "></div></div>
          <div class="d-flex align-items-center"><p class="rating-number">2</p><div class="review-bar" style="background-image: linear-gradient(to right, #FCDC2A <%= @two %>%, rgba(0,0,0,0) 0%); "></div></div>
          <div class="d-flex align-items-center"><p class="rating-number">1</p><div class="review-bar" style="background-image: linear-gradient(to right, #FCDC2A <%= @one %>%, rgba(0,0,0,0) 0%); "></div></div>
        </div>
        <div>
          <% if @car.reviews.length != 0 %>
            <h3 class="reviewaverage"><%= @avg_rating %> / 5</h3>
          <% end %>
        </div>
      </div>
      </div>
      <% @car.reviews.each do |review| %>
        <div class="review">
          <div class="d-flex align-items-center">
            <h5 class="avatar-letter-review"><%= review.user.first_name.chars.first.capitalize %></h5>
            <div class="d-flex flex-column">
              <p style="margin-bottom:5px;"><%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize}" %></p>
              <div class="d-flex">
                <% review.rating.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              </div>
            </div>
          </div>
            <div><p class="reviewtext"><%= review.comment %></p></div>
            <p class="review_date"> posted <%= time_ago_in_words(review.created_at) %> ago</p>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <% if @car.user != current_user %>
        <div class="form form-book" data-controller="total-price", data-action="submit->modal#show", data-total-price-cost-value="<%=@car.price_per_day%>">
        <%= simple_form_for [@car, @booking] do |f| %>
          <div class="d-flex align-items-center">
            <h3 class="mb-4"><%= "#{@car.price_per_day}€ / day" %></h3>
          </div>
          <div class="d-flex" style="gap: 20px;">
            <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker", total_price_target: "start_date"}}%>
            <%= f.input :end_date,
              as: :string,
              input_html: { data: { controller: "datepicker", action: "input->total-price#display", total_price_target: "end_date" } } %>
          </div>
          <div class="d-flex justify-content-center"><%= f.submit "Book", class:"button-perso"%></div>
          <hr class="mt-3 mb-3">
          <div class="d-flex justify-content-between">
            <div><h3>Total</h3></div>
            <div><h3 data-total-price-target="text"></h3></div>
          </div>
        <% end %>
      </div>

      <% if !@current_bookings.empty? && @current_bookings.any? { |booking| booking.end_date < Date.today} && @current_reviews.size == 0%>
        <div class="form form-review">
        <%= simple_form_for [@car, @review] do |f| %>
          <%= f.input :rating, collection: (1..5)  %>
          <%= f.input :comment %>
          <%= f.submit "Review", class:"button-perso"%>
        <% end %>
      </div>
      <% end %>
      <% end %>
  <% if current_user == @car.user %>
    <div class="edit-form">
          <%= link_to "Modify your car details", edit_car_path(@car), class: "button-perso-small"%>
          <%= link_to "Delete your car", car_path(@car), class: "button-delete-small",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
    <div class="next_bookings">
      <h3 class="mb-4" style="font-weight: bold;">Next bookings for this car</h3>
      <ul class="next_bookings_list">
        <% @car.bookings.sort_by{ |booking| booking.start_date }.each do |booking| %>
        <li class="next_bookings_list_element">
          <div class="next_bookings_list_userpicture">
            <p class="avatar-letter-booking"><%= booking.user.first_name.chars.first.capitalize %></p>
          </div>
          <div>
            <p class="next_bookings_list_element_info"><b style="font-weight: bold;">Rented by: </b><%= booking.user.first_name %> <%= booking.user.last_name %></p>
            <p class="next_bookings_list_element_info"><b style="font-weight: bold;">From: </b><%= booking.start_date %></p>
            <p class="next_bookings_list_element_info"><b style="font-weight: bold;">To: </b><%= booking.end_date %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
    </div>
  </div>
</div>
